MLFLOW_TRACKING_URI=http://localhost:5000
DATA_DIR=data
RAW_DATA_DIR=data/raw
PROCESSED_DATA_DIR=data/processed
FEATURE_DATA_DIR=data/features
MODEL_DIR=models
RANDOM_STATE=42
TEST_SIZE=0.2
DEVICE=cpu
