# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/

# MLflow
mlruns/

# Data
data/raw/
data/processed/
data/features/
data/splits/

# Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Modelos e artefatos gerados
artifacts/
models/
mlruns/
mlflow.db

# Cache do DVC
.dvc/cache/
/models
